.tag-link {
  display: inline-block;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.tag-link__body {
  display: inline-block;
  padding: 0.2rem;

  background-color: var(--color-secondary);
  border-radius: 0.2rem;

  &:link {
    color: var(--color-secondary-text);
    text-decoration: none;
  }
  &:visited {
    background-color: var(--color-secondary-weak);
    color: var(--color-secondary-weak-text);
  }
}
