---

---

<!-- open_in_new.astro start --><!--
    original product: https://github.com/google/material-design-icons/
    under the  Apache License Version 2.0
--><!--
    modified by tukinami seika
    from src/open_in_new/24px.svg
    on 2024-06-01
    add role, aria-label, <title />, <desc />
-->
<svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    role="img"
    aria-label="icon for open_in_new"
    ><title>open_in_new</title><desc>icon for open_in_new</desc><path
        d="M0 0h24v24H0z"
        fill="none"></path><path
        d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"
    ></path></svg
>
<!-- open_in_new.astro end -->
