@use "../variables/shapes" as _var_shapes;
@use "../mixins/change-background" as _mixin_change-background;

.footer {
  min-height: _var_shapes.$footer-height;
  background-color: var(--color-primary);
  color: var(--color-primary-text);

  @include _mixin_change-background.change-background();

  padding: 1rem;

  text-align: end;

  & > p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }
}
