.works-post-link {
  flex-basis: calc(50% - 0.5rem);
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 320px;
  max-width: 600px;
  // &:not(a) {
  // }
}

a.works-post-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &:hover {
    background-color: var(--color-filter-base);
  }
}