---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "トップページ";
---

<BaseLayout title={pageTitle}>
  <h1>tukinami.github.io</h1>
  <div>
    <p><a href="/about/">説明</a> : ここや月波 清火について</p>
    <p><a href="/works/">制作物</a> : 月波 清火が制作した物</p>
    <p><a href="/tags/">タグ一覧</a> : 記事についているタグの一覧</p>
    <p><a href="/participation/">参加企画</a> : 参加させていただいた企画</p>
  </div>
</BaseLayout>
