---
import BaseLayout from "../layouts/BaseLayout.astro";
import ExternalLink from "../components/ExternalLink.astro";

const pageTitle = "参加企画";
---

<BaseLayout title={pageTitle}>
    <h1>{pageTitle}</h1>
    <section>
        <h2>ゴーストマスカレード7</h2>
        <p>公開日: 2025-05-03</p>
        <ul>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-918.html"
                    >募集ページ</ExternalLink
                >
            </li>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-920.html"
                    >公開ページ</ExternalLink
                >
            </li>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-923.html"
                    >あとがきページ</ExternalLink
                >
            </li>
        </ul>
        <p>未発表の新作ゴーストを匿名で公開する企画です。</p>
        <p>
            私は自作「ラストワンダー」と「真偽不明のデュエット」で参加させていただきました。
        </p>
        <p>
            他、ないはこ。さん作「陽光と月光」、淀橋さん作「追憶、崩壊、あるいは楽園」、Tetsuhiraさん作「砂塵の語り部よ、かの呪いに幕を下ろせ」に制作協力をしていました。
        </p>
    </section>
    <section>
        <h2>嫌ゴ福袋企画2025</h2>
        <p>公開日: 2025-01-01</p>
        <ul>
            <li>
                <ExternalLink
                href="https://sites.google.com/view/ghost-luckybag2025/"
                >企画ページ</ExternalLink>
            </li>
        </ul>
        <p>「嫌ゴ」と呼ばれる、ちょっと(？)嫌なことをするゴーストを投稿する企画です。</p>
        <p>私は、「<a href="/works-posts/post-016_Yada-Yada-Yada"
            >ヤダヤダヤダ！</a
        >」で参加させていただいています。</p>
    </section>
    <section>
        <h2>伺か異形頭ゴースト祭2024</h2>
        <p>募集期間: 2024-09-14 ~ 2024-09-16</p>
        <ul>
            <li>
                <ExternalLink
                    href="https://lost-nd-xxx.hateblo.jp/entry/20240408/1712582174"
                    >企画ページ</ExternalLink
                >
            </li>
        </ul>
        <p>異形頭のゴーストを作成する企画です。</p>
        <p>
            私は、netai98さん、秋月さんと合作し、「<ExternalLink
                href="https://cherry.narnaloader.ukagaka.net/ghost.php?ghost=Museum_Meteopolis"
                >ミュージアム_メテオポリス</ExternalLink
            >」というゴーストを作成いたしました。
        </p>
    </section>
    <section>
        <h2>伺か低頭身企画「ぷにうか」</h2>
        <p>期間: 2024-08-01 ~ 2024-08-31</p>
        <ul>
            <li>
                <ExternalLink href="https://puniuka.nekoorinu.monster"
                    >企画ページ</ExternalLink
                >
            </li>
        </ul>
        <p>低頭身のイラスト・追加シェル・フリーシェルを公開する企画です。</p>
        <p>
            私は、「<a href="/works-posts/post-015_purple-eyed-dressed-up-boy"
                >パープル・アイの着せ替えボーイ</a
            >」で参加させていただいています。
        </p>
    </section>
    <section>
        <h2>Ghost Jam 2024</h2>
        <p>締切: 2024-05-30 23:59 (EDT)</p>
        <ul>
            <li>
                <ExternalLink
                    href="https://ukagakadreamteam.com/events/ghost_jam_2024.html"
                    >企画ページ</ExternalLink
                >
            </li>
            <li>
                <ExternalLink
                    href="https://ukagakadreamteam.com/events/ghost_jam_2024_results.html"
                    >結果ページ</ExternalLink
                >
            </li>
        </ul>
        <p>一週間でゴーストを作成する企画です。</p>
        <p>
            私は、Gallaさん、Zichqecさんにお誘いいただき、「<ExternalLink
                href="https://github.com/Zichqec/zanas_laws"
                >Zana's Laws</ExternalLink
            >」というゴーストを共作いたしました。
        </p>
    </section>
    <section>
        <h2>ゴーストマスカレード6</h2>
        <p>公開日: 2024-05-03</p>
        <ul>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-890.html"
                    >募集ページ</ExternalLink
                >
            </li>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-894.html"
                    >公開ページ</ExternalLink
                >
            </li>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-897.html"
                    >あとがきページ</ExternalLink
                >
            </li>
        </ul>
        <p>未発表の新作ゴーストを匿名で公開する企画です。</p>
        <p>
            私は自作、「<a href="/works-posts/post-014_incubation_of_animas"
                >孵化する魂</a
            >」と、合作「義弟ティエリーとお茶の時間」で参加しました。
        </p>
    </section>
    <section>
        <h2>ゴースト闇鍋</h2>
        <p>公開日: 2024-03-02</p>
        <ul>
            <li>
                <ExternalLink
                    href="https://telegra.ph/%E4%BC%81%E7%94%BB%E3%82%B4%E3%83%BC%E3%82%B9%E3%83%88%E9%97%87%E9%8D%8B-12-04"
                    >企画ページ</ExternalLink
                >
            </li>
        </ul>
        <p>里々の辞書ファイルを持ち寄り、一つのゴーストを作成する企画です。</p>
        <p>私も参加させていただきました。</p>
    </section>
    <section>
        <h2>伺か Advent Calendar 2023</h2>
        <p>公開日: 2023-12-01~ 2023-12-25</p>
        <ul>
            <li>
                <ExternalLink href="https://adventar.org/calendars/8679"
                    >企画ページ</ExternalLink
                >
            </li>
        </ul>
        <p>
            12-01から12-25まで、記事を持ち寄って公開する企画。私は2つの記事で参加しています。
        </p>
    </section>
    <section>
        <h2>ゴーストマスカレード5</h2>
        <p>公開日: 2023-05-03</p>
        <ul>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-872.html"
                >
                    募集ページ</ExternalLink
                >
            </li>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-875.html"
                    >公開ページ</ExternalLink
                >
            </li>
            <li>
                <ExternalLink
                    href="https://earlduant.blog.fc2.com/blog-entry-876.html"
                    >あとがきページ</ExternalLink
                >
            </li>
        </ul>
        <p>未発表の新作ゴーストを匿名で公開する企画です。</p>
        <p>私は「
            <ExternalLink href="https://cherry.narnaloader.ukagaka.net/ghost.php?ghost=a_lot_of_loves">好きが止まらない彼氏</ExternalLink>
            」で参加しています。</p>
    </section>
</BaseLayout>
