// ref: https://zenn.dev/tak_dcxi/articles/2cc1828e9c1fe2
@mixin visually-hidden() {
  // a11y-css-resetから引用
  // https://github.com/mike-engel/a11y-css-reset
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
