---
import ExternalLink from "./ExternalLink.astro";
---

<footer class="footer">
  <p>
    <ExternalLink href="https://github.com/nikolat/makibishi"
      >MAKIBISHI</ExternalLink
    >:
    <span class="makibishi" data-url="https://tukinami.github.io"></span>
  </p>
  <p>
    制作: 月波 清火 / <ExternalLink href="https://github.com/tukinami"
      >GitHub</ExternalLink
    >
  </p>
  <p>
    Mastodon:
    <ExternalLink relme={true} href="https://fedibird.com/@tukinami_seika"
      >fedibird.com</ExternalLink
      > / <ExternalLink relme={true} href="https://ukadon.shillest.net/@tukinami_seika"
      >うかどん</ExternalLink>
  </p>
  <p>
    <ExternalLink href="https://wavebox.me/wave/ersk1ec23kr3hrqr/"
      >Wavebox</ExternalLink
    >
  </p>
</footer>
