---
---

<footer class="footer">
  <p>制作: 月波 清火 / <a href="https://github.com/tukinami">GitHub</a></p>
  <p>
    <a rel="me" href="https://fedibird.com/@tukinami_seika"
      >Mastodon/@tukinami_seika@fedibird.com</a
    >
  </p>
  <p><a href="https://peing.net/ja/tukinami_seika">Peing質問箱</a></p>
</footer>
