---
import HeaderNavigation from "./HeaderNavigation.astro";
import ThemeToggleSwitch from "./ThemeToggleSwitch.astro";
---

<header class="navbar">
  <div class="navbar__left"><ThemeToggleSwitch /></div>
  <HeaderNavigation />
</header>
