---
import Hamburger from "./Hamburger.astro";
import Item from "./HeaderNavigationItem.astro";
---

<nav class="navbar__right">
  <Hamburger dataTarget="expand-menu" />
  <ul class="expand-menu" id="expand-menu">
    <Item url="/" title="トップページ" />
    <Item url="/about/" title="説明" />
    <Item url="/works/" title="制作物" />
    <Item url="/tags/" title="タグ一覧" />
    <Item url="/participation/" title="参加企画" />
  </ul>
</nav>
