@use "../templates/mixins/responsive" as _mixin_responsive;

@use "../variables/shapes" as _var_shapes;
@use "../mixins/change-background" as _mixins_change-background;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  background-color: var(--color-base);
  color: var(--color-base-text);

  @include _mixins_change-background.change-background();
}
