// original works : https://qiita.com/xrxoxcxox/items/073d30615a1d73c089fc
@mixin inset-border() {
  & {
    position: relative;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    box-shadow: 0 0 0 2px var(--color-border-base) inset;
    mix-blend-mode: darken;
  }
}