---
export interface Props {
  title: string;
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/style.scss";

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {Astro.slots.has('head') && (
      <slot name="head" />
    )}
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      const localStorageKey = "is-dark-mode";
      const isDarkModeInStorage = () => {
        const isDarkMode = localStorage.getItem(localStorageKey);

        if (isDarkMode === null) {
          localStorage.setItem(localStorageKey, String(false));
        }

        return isDarkMode === String(true);
      };

      const isDarkMode = isDarkModeInStorage();
      document.documentElement.classList[isDarkMode ? "add" : "remove"](
        "theme-dark",
      );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@nikolat/makibishi@0.2.0"
    ></script>
    <title>{`${title} - tukinami.github.io`}</title>
  </head>
  <body>
    <div class="wrapper">
      <Header />
      <main class="container">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
